@media screen and (max-width: 960px) {
    .slider {
        width: 100%;
    }
    .imgBox {
        width: 100%;
        height: 100%;
    }
    .imgBox__image {
        width: 100%;
    }


    .home_page__paragraph,
    .amenitiesParagraph,
    .interiorParagraph {
        width: auto;
        margin: auto;
        padding: 0 20px;
    }

    .google_map {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }

    header {
        position: relative;
        margin: 0;
    }

    .navMenu__list__item {
        margin: 10px 5px;
    }

    .navMenu__list__links {
        font-size: 7px;
    }

    .stickBox {
        display: none;
    }

    .form {
        display: block;
        width: auto;
    }

    .form__textArea {
        width: 396px;
    }

    .photoGallery__buttons {
        display: block;
        width: auto;
    }

}

@media screen and (max-width: 735px) {
    .availabilityMenu__item {
        margin: auto 10px;
    }

    .availabilityRooms {
        margin: auto;
        display: block;
        width: 410px;
    }

    .availabilityRooms__list {
        float: left;
        margin: 3px 1px;
        height: 25px;

    }

    .availabilityRooms__lists__names,
    .availabilityRooms__lists__links {
        font-size: 7px;

    }

    .availabilityRooms__type {
        width: 40px;
    }

    .availabilityRooms__price {
        width: 110px;
    }

    .availabilityRooms__avail {
        width: 90px;
    }

    .availabilityRooms__images {
        width: 60px;
    }

    .availabilityRooms__floorplan {
        width: 85px;
    }
}

@media screen and (max-width: 560px) {

    .navMenu__list__item {
        display: block;
        width: auto;
        margin: 5px 0;
    }

    .navMenu__list__item {
        display: block;
    }

    .navMenu__list__links {
        text-align: justify;
        font-size: 8px;
    }

    h2 {
        font-size: 30px;
    }

    .openHouseHeading__text, .openHouse__slide__text, .form__title {
        font-size: 15px;
    }

    .contactText,
    .contactLinks {
        width: 100%;
        font-size: 15px;
        letter-spacing: 4px;

    }
}

@media screen and (max-width: 480px) {

    .openHouse__slide__heading {
        bottom: 40px;
    }

    .openHouse__slide__text {
        bottom: 15px;
    }

    .form__info {
        width: 70%;
    }

    .form__textArea {
        width: 70%;
    }

    .photoGalleryBtn {
        width: 200px;
    }

    .availabilityMenu__item {
        margin: auto 5px;
    }

    .imageButton {
        width: 70%;
    }

    .availabilityBtn {
        width: 70%;
    }
}

@media screen and (max-width: 420px) {

    .availabilityMenu__item {
        margin: auto 5px;
    }

    .availabilityRooms {
        margin: auto;
        display: block;
        width: 295px;
    }

    .availabilityRooms__lists__names,
    .availabilityRooms__lists__links {
        font-size: 6px;

    }

    .availabilityRooms__type {
        width: 30px;
    }

    .availabilityRooms__price {
        width: 85px;
    }

    .availabilityRooms__avail {
        width: 60px;
    }

    .availabilityRooms__images {
        width: 40px;
    }

    .availabilityRooms__floorplan {
        width: 70px;
    }

    .contactText,
    .contactLinks {
        width: 100%;
        font-size: 12px;
        letter-spacing: 2px;

    }
}