@media screen and (max-width: 960px) {
    .image__slider {
        width: 100%;
    }
    .image__slider__images{
        width: 100%;
        height: 100%;
    }
    .slide__image {
        width: 100%;
    }


    .home_page__paragraph,
    .amenities_text,
    .interior_text {
        width: auto;
        margin: auto;
        padding: 0 20px;
    }

    .google_map {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }

    header {
        position: relative;
        margin: 0;
    }

    .global_nav_menu_item {
        margin: 10px 5px;
    }

    .global_nav_links {
        font-size: 7px;
    }

    .image__slide__sticks {
        display: none;
    }

    .form {
        display: block;
        width: auto;
    }

    .form__text_area {
        width: 396px;
    }

    .photo_gallery__buttons {
        display: block;
        width: auto;
    }

}

@media screen and (max-width: 735px) {
    .availability_menu_item {
        margin: auto 10px;
    }

    .availability__section {
        margin: auto;
        display: block;
        width: 410px;
    }

    .availability__section_item {
        float: left;
        margin: 3px 1px;
        height: 25px;

    }

    .availability__section__lists_names,
    .availability__section__lists_links {
        font-size: 7px;

    }

    .availability__section__first_item {
        width: 40px;
    }

    .availability__section__second_item {
        width: 110px;
    }

    .availability__section__third_item {
        width: 90px;
    }

    .availability__section__fourth_item {
        width: 60px;
    }

    .availability__section__fifth_item {
        width: 85px;
    }
}

@media screen and (max-width: 560px) {

    .global_nav_menu_item {
        display: block;
        width: auto;
        margin: 5px 0;
    }

    .global_nav_menu_item {
        display: block;
    }

    .global_nav_links {
        text-align: justify;
        font-size: 8px;
    }

    h2 {
        font-size: 30px;
    }

    .open_house__heading__text, .open_house__slide_text, .form__title {
        font-size: 15px;
    }

    .contact_text,
    .contact_links {
        width: 100%;
        font-size: 15px;
        letter-spacing: 4px;

    }
}

@media screen and (max-width: 480px) {

    .open_house__slide_heading {
        bottom: 40px;
    }

    .open_house__slide_text {
        bottom: 15px;
    }

    .form__info {
        width: 70%;
    }

    .form__text_area {
        width: 70%;
    }

    .photo__gallery__button {
        width: 200px;
    }

    .availability_menu_item {
        margin: auto 5px;
    }

    .image_button {
        width: 70%;
    }

    .availability__btn {
        width: 70%;
    }
}

@media screen and (max-width: 420px) {

    .availability_menu_item {
        margin: auto 5px;
    }

    .availability__section {
        margin: auto;
        display: block;
        width: 295px;
    }

    .availability__section__lists_names,
    .availability__section__lists_links {
        font-size: 6px;

    }

    .availability__section__first_item {
        width: 30px;
    }

    .availability__section__second_item {
        width: 85px;
    }

    .availability__section__third_item {
        width: 60px;
    }

    .availability__section__fourth_item {
        width: 40px;
    }

    .availability__section__fifth_item {
        width: 70px;
    }

    .contact_text,
    .contact_links {
        width: 100%;
        font-size: 12px;
        letter-spacing: 2px;

    }
}